body {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title {
   font-weight: bold;
   font-size: 40px;
   letter-spacing: 5px;
   margin-top: 30px;
   margin-bottom: 50px;  
}

.board {
  width: 383px;
  margin: 0 auto;
}

.row {
   height: 70px;
   margin-bottom: 6px;
   clear: both;
}

.square {
  width: 70px;
  height: 70px;
  float: left;
  margin: 0 3px 0 3px;
  font-weight: bold;
  font-size: 40px;
  line-height: 66px;
  position: relative;
  z-index: 1;
  perspective: 1000;
}

.square.correct .inner,
.square.incorrect .inner,
.square.incorrect-position .inner {
  transform: rotateX(180deg);
}

.square .inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .2s linear;
  transition-delay: 0s;
}

.square:nth-child(2) .inner { transition-delay: .2s; }
.square:nth-child(3) .inner { transition-delay: .4s; }
.square:nth-child(4) .inner { transition-delay: .6s; }
.square:nth-child(5) .inner { transition-delay: .8s; }
.square:nth-child(6) .inner { transition-delay: 1s; }
.square:nth-child(7) .inner { transition-delay: 1.2s; }
.square:nth-child(8) .inner { transition-delay: 1.4s; }
.square:nth-child(9) .inner { transition-delay: 1.6s; }
.square:nth-child(10) .inner { transition-delay: 1.8s; }

.square .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

.square .face.back {
    display: block;
    transform: rotateX(180deg);    
    border: solid 2px #cccccc;;
  }

.square .face.front {
  border: solid 2px #cccccc;
}

.square.entered .front,
.square.correct .front,
.square.incorrect .front,
.square.incorrect-position .front {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.square.correct .back {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: #ffffff;
}

.square.incorrect-position .back {
  background-color: #c9b458;
  border-color: #c9b458;
  color: #ffffff;
}

.square.incorrect .back {
  background-color: #787C7F;
  border-color: #787C7F;
  color: #ffffff;
}

.square.error .front {
  background-color: #ffffff;
  border-color: #bb0000;
}

.keyboard {
  margin-top: 50px;
}

.keyboard-row {
 
}

.keyboard-letter {
  border-radius: 2px;
  display: inline-block;
  line-height: 65px;
  min-width: 45px;
  height: 65px;
  background-color: #cccccc;  
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 13px 0 13px;
}

.keyboard-letter.clicked {
  background-color: #999999;
  color: #ffffff;
}

.keyboard-letter.correct {
  background-color: #6aaa64;
  color: #ffffff;
}

.keyboard-letter.incorrect {
  background-color: #787C7F;
  color: #ffffff;
}

.keyboard-letter.incorrect-position {
  background-color: #c9b458;
  color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}