body {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.outer {
  width: 100%;
  height: 100%;
}

.main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

@media (max-width: 700px) {
  .main {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
   font-weight: bold;
   font-size: 45px;  
   margin: 30px auto 20px;   
}

.title .row {
   display: inline-block;
}

.title .face {
   font-size: 60px !important;
   xborder: none !important;
}

@media (max-width: 700px) {
  .title {
    margin-bottom: 30px;  
  }
}

.grid {
  width: 392px;
  margin: 0 auto;
}

.row {
   height: 70px;
   margin-bottom: 6px;
   clear: both;
}

.row.example {
  zoom: 70%;
}

@keyframes highlight {
  0% {
    width: 70px;
    height: 70px;
  }
  50% {
    width: 74px;
    height: 74px;
  }
  100% {
    width: 70px;
    height: 70px;
  }
}

.tile-container {
  width: 78px;
  height: 78px;
  min-height: 78px;
  float: left; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 70px;
  height: 70px;
  font-weight: bold;
  font-size: 40px;
  line-height: 66px;
  position: relative;
  z-index: 1;
  perspective: 1000;
}

.tile.entered {
  animation: highlight .1s;
}

.flippable .tile.correct .inner,
.flippable .tile.incorrect .inner,
.flippable .tile.incorrect-position .inner {
  transform: rotateX(180deg);
}

.flippable .tile .inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .2s linear;
  transition-delay: 0s;
}

.flippable .tile.sequence1 .inner { transition-delay: .2s; }
.flippable .tile.sequence2 .inner { transition-delay: .4s; }
.flippable .tile.sequence3 .inner { transition-delay: .6s; }
.flippable .tile.sequence4 .inner { transition-delay: .8s; }
.flippable .tile.sequence5 .inner { transition-delay: 1s; }
.flippable .tile.sequence6 .inner { transition-delay: 1.2s; }
.flippable .tile.sequence7 .inner { transition-delay: 1.4s; }
.flippable .tile.sequence8 .inner { transition-delay: 1.6s; }
.flippable .tile.sequence9 .inner { transition-delay: 1.8s; }
.keyboard-letter.sequence1 { transition-delay: .3s; }
.keyboard-letter.sequence2 { transition-delay: .5s; }
.keyboard-letter.sequence3 { transition-delay: .7s; }
.keyboard-letter.sequence4 { transition-delay: .9s; }


.flippable.title .tile.sequence1 .inner { transition-delay: .1s; }
.flippable.title .tile.sequence2 .inner { transition-delay: .2s; }
.flippable.title .tile.sequence3 .inner { transition-delay: .3s; }
.flippable.title .tile.sequence4 .inner { transition-delay: .4s; }
.flippable.title .tile.sequence5 .inner { transition-delay: .5s; }
.flippable.title .tile.sequence6 .inner { transition-delay: .6s; }
.flippable.title .tile.sequence7 .inner { transition-delay: .7s; }
.flippable.title .tile.sequence8 .inner { transition-delay: .8s; }
.flippable.title .tile.sequence9 .inner { transition-delay: .9s; }

.tile .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
  }

.tile .face.back {
    display: block;
    transform: rotateX(180deg);    
    border: solid 2px #cccccc;;
  }

.tile .face.front {
  border: solid 2px #cccccc;
}

.tile.entered .front,
.flippable .tile.correct .front,
.flippable .tile.incorrect .front,
.flippable .tile.incorrect-position .front {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}

.flippable .tile.correct .back {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: #ffffff;
}

.flippable .tile.incorrect-position .back {
  background-color: #c9b458;
  border-color: #c9b458;
  color: #ffffff;
}

.flippable .tile.incorrect .back {
  background-color: #787C7F;
  border-color: #787C7F;
  color: #ffffff;
}

.title .tile .face {
  background-color: #ffffff !important;
  border: none !important;
  color: #ffffff !important;
}

.flippable.title .tile.correct .back {
   color: #000000 !important;
}

.title .tile-container { width: 58px; }
.title .tile { width: 50px; }

.tile.error .front {
  background-color: #ffffff;
  border-color: #bb0000;
}

.keyboard {
  margin-top: 50px;
}

@media (max-width: 700px) {
  .keyboard {
    margin-top: 30px;  
  }
}

.keyboard-letter {
  border-radius: 2px;
  display: inline-block;
  line-height: 65px;
  min-width: 45px;
  height: 65px;
  background-color: #cccccc;  
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 13px 0 13px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
   transition: background-color 0.2s ease,
      color 0.2s ease;
}

@media (max-width: 700px) {
  .keyboard-letter {
    line-height: 65px;
    min-width: 35px;
    height: 65px;
    margin: 4px;
    font-size: 16px;
    padding: 0 10px 0 10px;
  }
}

.keyboard-letter.clicked {
  background-color: #999999;
  color: #ffffff;
}

.keyboard-letter.correct {
  background-color: #6aaa64;
  color: #ffffff;
}

.keyboard-letter.incorrect {
  background-color: #787C7F;
  color: #ffffff;
}

.keyboard-letter.incorrect-position {
  background-color: #c9b458;
  color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, .5);
}

.modal {
  font-size: 15px;
  padding: 20px 30px 20px 30px;
  text-align: left;
}

.modal .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal p {
  padding-bottom: 3px;
}

.modal hr {
   background-color: #aaa; 
   height: 1px; 
   border: 0; 
}

.modal .close {
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 40px;
}

#show-intro {
  display: none;
}

#intro {
  animation: anvil .05s;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  10% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

* {
  box-sizing: border-box;
}