@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.center {
  text-align: center;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clear {
  clear: both;
}

.outer {
  width: 100%;
  height: 100%;
}

#status-bar {
  background-color: #000000;
  width: 100%;
  height: 60px;
  text-align: left;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  z-index: 10;
}

#status-bar-disconnected {
  width: 100%;
  height: 34px;
}

#status-bar .account {
  color: #ffffff;
  float: right;
  margin-right: 21px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}

#status-bar .account a {
  cursor: pointer;
}

#status-bar .status-dot {
  background-color: #6aaa64;
   width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;}

#status-bar .status-dot.active {
  background-color: #c9b458; 
  animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
   from { opacity: 1; }
   to { opacity: 0; }
}

#status-bar #logo {
  padding-top: 21px;
  padding-left: 21px;
  zoom: 52%;
  -moz-transform: scale(.52);
  width: 80px;
  float: left;
  transform-origin: top left;
}

#status-bar #logo .tile .face.front {
  background-color: #ffffff;
}

#status-bar .menu-items {
  color: #ffffff;
  font-weight: bold;
  float: left;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 20px;
}

@-moz-document url-prefix() {
  #status-bar .menu-items {
    margin-left: 0;
  }
}

#status-bar .menu-items a {
  color: #ffffff !important;
  margin-right: 0;
  text-decoration: none;
  cursor: pointer;
  transition: color .15s linear;
  margin-top: 20px;
}

#status-bar .menu-items a {
  margin-right: 30px;
}

#status-bar a:visited {
  color: #ffffff !important;
}

#status-bar a:hover {
  color: #43ABDC !important;
}

.main {
  margin-left: auto;
  margin-right: auto;
  outline: none;
  margin-top: 85px;
}

.force-vertical-scrollbar {
  overflow-y: scroll;
}

.hidden-on-load {
  opacity: 0;
  transition: opacity .3s linear;
}

.visible-after-load {
  opacity: 1;
}

#grid {
  margin: 0 auto;
}

.row {
  text-align: center;
  display: block;
  width: 390px;
  margin: 0 auto;
}

.summary-row {
  margin: 0 auto;
  zoom: 50%;
  -moz-transform: scale(.5);
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.summary-row .tile-container {
  display: inline-block;
}

.summary-row .face {
  position: relative;
  padding-top: 4px;
}


#examples {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#examples > div {
  zoom: 70%;
  -moz-transform: scale(.7);
  width: 100%;
  margin: 0 auto;
}

#examples .tile-container {
  display: inline-block;
  min-width: 64px;
}

#examples .tile {
  line-height: 68px;
}

#examples .tile .face,
#status-bar .tile .face {
  border: solid 1px #000000; 
  background-color: #ffffff;
}


@keyframes highlight {
  0% {
    width: 70px;
    height: 70px;
  }

  50% {
    width: 73px;
    height: 73px;
  }

  100% {
    width: 70px;
    height: 70px;
  }
}

#title {
  font-weight: bold;
  font-size: 45px;
}

#title span {
  width: 20px;
  display: inline-block;
}

#title .tile .face {
  background-color: #ffffff !important;
  border: none !important;
  color: #ffffff !important;
  font-size: 40px;
}

#title .tile-container {
  width: 48px;
  min-width: 48px;
}

#title>div {
  display: inline-block;
}

#title .tile {
  width: 45px;
}

.tile-container {
  width: 78px;
  min-width: 78px;
  height: 78px;
  min-height: 78px;
  display: table-cell;
  vertical-align: middle;
}

.tile-container.space {
  width: 30px !important;
  min-width: 30px !important;
}

.tile {
  width: 70px;
  height: 70px;
  font-weight: bold;
  font-size: 40px;
  line-height: 66px;
  z-index: 1;
  perspective: 1000;
  display: inline-block;
}

.tile.entered {
  animation: highlight .1s;
}

.tile.entered-no-animation {
  animation: none;
}

.flippable .tile.correct .inner,
.flippable .tile.incorrect .inner,
.flippable .tile.incorrect-position .inner {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.tile .inner {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  width: 100%;
  height: 100%;
}

.flippable .tile.sequence1 .inner {
  transition-delay: .2s;
}

.flippable .tile.sequence2 .inner {
  transition-delay: .4s;
}

.flippable .tile.sequence3 .inner {
  transition-delay: .6s;
}

.flippable .tile.sequence4 .inner {
  transition-delay: .8s;
}

.flippable .tile.sequence5 .inner {
  transition-delay: 1s;
}

.flippable .tile.sequence6 .inner {
  transition-delay: 1.2s;
}

.flippable .tile.sequence7 .inner {
  transition-delay: 1.4s;
}

.flippable .tile.sequence8 .inner {
  transition-delay: 1.6s;
}

.flippable .tile.sequence9 .inner {
  transition-delay: 1.8s;
}

.flippable .tile.sequence10 .inner {
  transition-delay: 2s;
}

.flippable .tile.sequence11 .inner {
  transition-delay: 2.2s;
}

.flippable .tile.sequence12 .inner {
  transition-delay: 2.4s;
}

.flippable .tile.sequence13 .inner {
  transition-delay: 2.6s;
}

.flippable .tile.sequence14 .inner {
  transition-delay: 2.8s;
}

.keyboard-letter.sequence1 {
  transition-delay: .3s;
}

.keyboard-letter.sequence2 {
  transition-delay: .5s;
}

.keyboard-letter.sequence3 {
  transition-delay: .7s;
}

.keyboard-letter.sequence4 {
  transition-delay: .9s;
}

.keyboard-letter.sequence5 {
  transition-delay: 1.1s;
}

.keyboard-letter.sequence6 {
  transition-delay: 1.3s;
}

.keyboard-letter.sequence7 {
  transition-delay: 1.5s;
}

.keyboard-letter.sequence8 {
  transition-delay: 1.7s;
}

.keyboard-letter.sequence9 {
  transition-delay: 1.9s;
}

.keyboard-letter.sequence10 {
  transition-delay: 2.1s;
}

.keyboard-letter.sequence11 {
  transition-delay: 2.3s;
}

.keyboard-letter.sequence12 {
  transition-delay: 2.5s;
}

.keyboard-letter.sequence13 {
  transition-delay: 2.7s;
}

.keyboard-letter.sequence14 {
  transition-delay: 2.9s;
}

.flippable#title .tile.sequence1 .inner {
  transition-delay: .1s;
}

.flippable#title .tile.sequence2 .inner {
  transition-delay: .2s;
}

.flippable#title .tile.sequence3 .inner {
  transition-delay: .3s;
}

.flippable#title .tile.sequence4 .inner {
  transition-delay: .4s;
}

.flippable#title .tile.sequence5 .inner {
  transition-delay: .5s;
}

.flippable#title .tile.sequence6 .inner {
  transition-delay: .6s;
}

.flippable#title .tile.sequence7 .inner {
  transition-delay: .7s;
}

.flippable#title .tile.sequence8 .inner {
  transition-delay: .8s;
}

.flippable#title .tile.sequence9 .inner {
  transition-delay: .9s;
}

.flippable#title .tile.sequence10 .inner {
  transition-delay: 1s;
}

.flippable#title .tile.sequence11 .inner {
  transition-delay: 1.1s;
}

.flippable#title .tile.sequence12 .inner {
  transition-delay: 1.2s;
}

.flippable#title .tile.sequence13 .inner {
  transition-delay: 1.3s;
}

.flippable#title .tile.sequence14 .inner {
  transition-delay: 1.4s;
}

#summary.flippable .tile .inner {
  transition-delay: .1s !important;
}

.tile .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flippable .tile .face.back {
  display: block;
  border: solid 2px #cccccc;
  transform: rotateX(180deg);
}

.tile .face.front {
  border: solid 2px #cccccc;
}

.tile.entered .front,
.tile.tile.entered-no-animation .front,
.flippable .tile.correct .front,
.flippable .tile.incorrect .front,
.flippable .tile.incorrect-position .front {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

.flippable .tile.correct .back {
  background-color: #6aaa64 !important;
  border-color: #6aaa64 !important;
  color: #ffffff;
}

.flippable .tile.incorrect-position .back {
  background-color: #c9b458 !important;
  border-color: #c9b458 !important;
  color: #ffffff;
}

.flippable .tile.incorrect .back {
  background-color: #787C7F !important;
  border-color: #787C7F !important;
  color: #ffffff;
}

.flippable#title .tile.correct .back {
  color: #000000 !important;
}

.tile.error .front {
  background-color: #ffffff;
  border-color: #bb0000;
  animation: shake 0.4s 1 linear;
}

.tile.previous-error .front {
  background-color: #ffffff;
  border-color: #cccccc;
}

.no-top-margin {
  margin-top: 0 !important;
}

#summary .face {
  border: none !important;
}

#summary .face.front {
  background-color: #ffffff;
  color: #ffffff !important;
  display: none;
}

#summary .face.back {
  color: #ffffff !important;
  line-height: 62px;
}

#keyboard {
  margin-top: 50px;
  padding-bottom: 50px;
}

.keyboard-letter {
  border-radius: 2px;
  display: inline-block;
  line-height: 65px;
  min-width: 45px;
  height: 65px;
  background-color: #cccccc;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 13px 0 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.keyboard-letter.clicked {
  background-color: #999999;
  color: #ffffff;
}

.keyboard-letter.correct {
  background-color: #6aaa64;
  color: #ffffff;
}

.keyboard-letter.incorrect {
  background-color: #787C7F;
  color: #ffffff;
}

.keyboard-letter.incorrect-position {
  background-color: #c9b458;
  color: #ffffff;
}

.popup-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.popup-title strong {
  color: #43ABDC;
}

.popup-content {
  margin: auto;
  width: 50%;
  padding: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, .5);
}

.modal {
  font-size: 15px;
  padding: 20px 30px 20px 30px;
  text-align: left;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);

}

.modal .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal p {
  padding-bottom: 3px;
}

.modal hr {
  background-color: #aaa;
  height: 1px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 5px;
  line-height: 40px;
  font-size: 40px;
}

.modal {
  animation: anvil .2s;
}

.popup-overlay.fade-away {
  opacity: 1;
  transition: .2s;
}

.popup-overlay.fade-away {
  opacity: 0;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    xbox-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  10% {
    transform: scale(0.8) translateY(100px);
    opacity: 0;
    xbox-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    xbox-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

#statistics {
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  clear: both;
}

#statistics > div {
  width: 100px;
  height: 70px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#statistics p {
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  height: 35px;
  width: 100%;
}

#statistics label {
  display: block;
  font-size: 12px;
  width: 100%;
}

#summary .header {
  width: 100%;
  border-bottom: none;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

#summary .mint-nft {
  max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#summary .mint-nft strong {
  color: #43ABDC;
}

* {
  box-sizing: border-box;
}

.distribution {
  width: 70%;
  margin: 0 auto 20px;
  padding-left: 45px;
  opacity: 1;
  transition: opacity .2s linear;
}

.distribution.closed {
  opacity: 0;
}

.distribution.closed .chart .bar {
  width: 0% !important;
}

.chart {
  height: 30px;
}

.chart .horiz {
  overflow: hidden;
  position: relative;
  top: 0;
  margin: 0 !important;
  padding-inline-start: 15px !important;
}

.chart .bar {
  height: 24px;
  background: #6aaa64;
  text-align: right;
  padding-right: 1px;
  font-weight: bold;
  opacity: 1;
  animation-delay: .2s;
  list-style-type: none;
  position: relative;
  transition: all .2s linear;
  transition-delay: .2s;
}

.chart .number {
  float: left;
  line-height: 24px;
  font-weight: bold;
}

.chart .label {
  line-height: 24px;
  color: white;
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation-delay: 2s;
  animation: 1s anim-lightspeed-in ease forwards;
  position: absolute;
  right: 6px;
  width: 40px;
  text-align: right;
}

.chart .label-outside {
  color: black;
  right: -52px;
  text-align: left;
}

#mode-chooser .ethereum-icon {
  text-align: center;
  margin-bottom: 30px;
}

#mode-chooser .ethereum-icon img {
  width: 200px;
  height: auto;
}

#mode-chooser .buttons {
  text-align: center;
}

#mode-chooser button {
  margin: 10px;
}

#mode-chooser button img {
  width: 25px;
  height: auto;
  margin-left: 15px;
}

.pinwheel {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.pinwheel:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 8px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: pinwheel 1.2s infinite;
  position: absolute;
  left: 17px;
  top: 8px;
}

@keyframes pinwheel {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

#minting-in-progress .hide-popup-chooser {
  text-align: center;  
  height: 70px;
  position: relative;
}

#minting-in-progress .hide-popup-chooser div {
  display: inline-block;
  vertical-align: top;
}

#minting-in-progress .hide-popup-chooser .hide-popup-text {
  color: #43ABDC;
  margin-right: 20px;
  margin-top: 22px;
}